EXPO_PUBLIC_TRENORD_CLIENT_ID="your_client_id_here"
EXPO_PUBLIC_TRENORD_ISSUER="trenord-idp"
EXPO_PUBLIC_TRENORD_AUDIENCE="b2b"
EXPO_PUBLIC_TRENORD_TOKEN_URL="https://preprod.mp.trenord.it/b2b/oauth/token"
EXPO_PUBLIC_TRENORD_API_URL="https://preprod.mp.trenord.it/b2b"

# WARNING: This is a private key. Variables without EXPO_PUBLIC_ are NOT bundled in the Expo app,
# which is the correct security practice. If you need to sign tokens directly on the device
# (not recommended for production but common in school projects), you will need to rename this 
# to EXPO_PUBLIC_TRENORD_PRIVATE_JWK so the app can access it.
# Note: Ensure the JSON string is on a single line! Go make your own jwt wit this website: https://jwk-creator.vercel.app/
EXPO_PUBLIC_TRENORD_PRIVATE_JWK='{"kty":"RSA","n":"...","e":"AQAB","d":"...","p":"...","q":"...","dp":"...","dq":"...","qi":"...","alg":"RS256","kid":"dima","use":"sig"}'


# News api: https://currentsapi.services/en
EXPO_PUBLIC_ENABLE_NEWS_API="false"
EXPO_PUBLIC_NEWS_API_KEY="your_currents_api_key"

# Enable developer buttons
EXPO_PUBLIC_SHOW_CLEAR_NEWS_CACHE_BUTTON="true"
EXPO_PUBLIC_SHOW_CLEAR_TRENORD_CACHE_BUTTON="true"
